.bg-nav {
    /* background: #ee9ca7; 
background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  
background: linear-gradient(to right, #ffdde1, #ee9ca7); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: #74ebd5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.img-avatar {
    border-radius: 50%;
    max-width: 20%;
    height: auto;
}

.font-nav {
    font-family: 'Lobster', cursive;
}

.text-black {
    color: black !important;
}

.font-body {
    font-family: 'Dancing Script', cursive;
}

.fullpage {
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
    position: absolute;
    top: auto;
    left: 0;
    height: 90%;
    width: 100%;
}