.bg-nav {
    background: transparent;
}

.img-avatar {
    border-radius: 50%;
    max-width: 20%;
    height: auto;
}

.font-nav {
    font-family: 'Lobster', cursive;
}

.text-black {
    color: black !important;
}

.font-name {
    font-family: 'Rowdies', cursive;
}

.contact-card {
    background: #2ab1b62d;
    box-shadow: 3px 3px 5px black;
}

.img-square {
    height: 270px;
    width: auto;
}

body, html {
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    min-height: 100%;
    min-width: 100%;
}

.font-body {
    font-family: 'Dancing Script', cursive;
}

.fullpage {
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}